/* -------
 RESET
 ------ */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    background-color: black;
}



/* ---------
    HEADER
---------- */


header div{
    padding-top: 6px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-right: 5px;
    font-size: 14px;
}

.tag{
    font-size: inherit;
    padding: 5px;
    background-color: #4a4a4a; 
    border-radius: 5px;
    border: none;
    text-align: center;
    color: #fff;
}

button{
    font-size: 14px;
    padding: 5px;
    background-color: #4a4a4a;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: #fff;
 }

 /* ---------
    /HEADER
---------- */

/* GRID PARTECIPANTS */
.container{
    height: calc(100vh - 32.8px - 80px);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding-top: 45px;
    align-content: flex-start;
    padding-bottom: 25px;
    max-width: 1200px;
    margin: auto;
    gap: 10px;
}



.img-container{
    width: calc(200px - 10px);
    height: 100px;
    position: relative;
}



.webcam-bottom{
    background-color: rgba(60, 60, 60, 0.5);
    font-size: 13px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 5px;
}

img{
    width: 100%;
}

/* footer */
footer{
    background-color: #222222;
    
    display: flex;
    height: 80px;   
}

.footer-left{
    margin-left: 15px;
    display: flex;
    gap: 20px;
}

.footer-center{
    gap: 20px;
    display: flex;
}



.footer-right{
    align-items: center;
    justify-content: end;
    display: flex;
}
#end{
    color: red;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}



/* -----------
UTILITY
---------- */







.grow{
    flex-grow: 1;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 10px;
}



.container-button{
    display: flex;
}

/* -------
ICON FONT AWESOME
-------- */

.fa-share-from-square{
    color: lightgreen;
}


footer .fa-solid{
    font-size: 25px;
    padding-top: 10px;
}
footer .fa-chevron-down{
    
    font-size: 15px;
    color: #fff;
    line-height: 80px;
    padding-top: 0;
}
